<!DOCTYPE html>
<html>
<head>
	<title>signup</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"  charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/lib/bootstrap.min.css">
	<script type="text/javascript" src="./lib/jquery.min.js"></script>
	<script type="text/javascript" src="./css/lib/bootstrap.min.js"></script>
	<script src="./lib/angular.min.js"></script>
	<script src="./lib/angular-route.min.js"></script>
	<script src="./lib/angular-route.js"></script>
	<script type="text/javascript" src="./app/app.js"></script>


</head>
<body ng-app="myapp" ng-controller="signup">
<form name="signup" method="post" class="form-horizontal">
	<div class="container">
		<h1><center>SignUp</center></h1>
		<div class="form-group">
			<div class="col-sm-12 controls">
				<input type="text" name="firstname" class="form-control" placeholder="Enter Your firstname" required ng-model="firstname">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12 controls">
				<input type="text" name="lastname" class="form-control" placeholder="Enter Your lastname" required ng-model="lastname">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12 controls">
				<input type="email" name="email" class="form-control" placeholder="Enter Your email address" required ng-model="email" >
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12 controls">
				<input type="password" name="password" class="form-control" placeholder="choose password" required ng-model="password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12 controls">
				<input type="password" name="rpassword" class="form-control" placeholder="Re-enter your passwword" required ng-model="rpassword">
			</div>
		</div>
		<div class="alert alert-danger" ng-show="errorMsg">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>&nbsp;&nbsp;{{errorMsg}}
        </div>
        <div class="form-group">
			<div class="col-sm-12 controls">
				<button class="btn btn-primary pull-right" ng-click="signUp()">signup</button>
			</div>
		</div>
	</div>
</form>

</body>
</html>